<!-- component -->
<!-- Create by joker banny -->
<div class="h-screen bg-indigo-100 flex justify-center items-center">
	<div class="lg:w-2/5 md:w-1/2 w-2/3">
		<form class="bg-white p-10 rounded-lg shadow-lg min-w-full" [formGroup]="formTask">
			<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Task</h1>
			<div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="title">Title</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="title" id="title" placeholder=""
                formControlName="title" />
            </div>
            <div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="description">Description</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="description" id="description" placeholder=""
                formControlName="description" />
            </div>

            <div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="due">Due</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="date" name="due" id="description" placeholder=""
                formControlName="due" />
            </div>
            <div>
				<label class="text-gray-800 font-semibold block my-3 text-md" for="status">Status</label>
				<select class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" name="status" id="due" formControlName="status">
                    <option>Seleccione ...</option>
                    @for (status of statuses; track status.id) {
                        <option [value]="status.id"> {{status.status}} </option>
                    }

                </select>
            </div>
    
				<button type="submit"  (click)="registerTask()"
                class="w-full mt-6 bg-blue-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans"
                >Register</button>
		</form>



	</div>
</div>
